extends baseEmail

block content
  p Hi #{firstname},
  p Forgot your password? Send a UPDATE request with your new password and password confirm to #{url}. 
  p (Website for this action is not available yet)
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Reset Your Password
  p If you did not make a request to change your password then Please ignore this email
